:root {
  --heading-color: rgba(0, 0, 0, 0.85);
  --text-color: rgba(0, 0, 0, 0.65);
  --header-color: #000;
  --date-color: #827e7e;
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  --disabled-color: rgba(0, 0, 0, 0.25);
  --dividers: rgba(0, 0, 0, 0.09);
  --background: rgba(0, 0, 0, 0.04);
  --table-header: rgba(0, 0, 0, 0.02);
  --primary-color: #1890ff;
  --info-color: #1890ff;
  --success-color: #52c41a;
  --processing-color: #1890ff;
  --error-color: #f5222d;
  --highlight-color: #f5222d;
  --warning-color: #faad14;
  --normal-color: #d9d9d9;
  --disabled-color-dark: rgba(255, 255, 255, 0.35);
  --background-color-base: #f7f7f7;
  --border-color-base: #d9d9d9;
  --btn-primary-color: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

html {
  background-color: var(--background-color-base);
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1.83;
  font-weight: 400;
  max-width: 1010px;
  padding: 0 36px;
  margin: 0 auto;
  background-color: var(--btn-primary-color);
  color: var(--header-color);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}

.ant-pagination-item-active * {
  color: var(--btn-primary-color) !important;
}
